<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>LoginApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- driver class -->
  <context-param>
  <param-name>driver class</param-name>
  <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <!-- url -->
  <context-param>
  <param-name>url</param-name>
  <param-value>jdbc:mysql://localhost:3306/divya</param-value>
  </context-param>
  <!-- user -->
  <context-param>
  <param-name>user</param-name>
  <param-value>divya</param-value>
  </context-param>
  <!-- password -->
  <context-param>
  <param-name>password</param-name>
  <param-value>1234</param-value>
  </context-param>
  <!-- Registration -->
  <servlet>
  <servlet-name>s1</servlet-name>
  <servlet-class>mypack.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>s1</servlet-name>
  <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>s2</servlet-name>
  <servlet-class>mypack.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>s2</servlet-name>
  <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
</web-app>